# node.js / frontend
frontend/node_modules
frontend/.env.local
frontend/.DS_Store
frontend/package-lock.json

# python / backend
backend/venv/
backend/.env
backend/__pycache__/

# os files
.DS_Store
Thumbs.db
